/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

/* multi container style */

body {
  font-family: "Inter", sans-serif;
}

/* header style start */

.header-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 50px;
  background-color: black;
  color: white;
  border-radius: 30px;
  /* width: 312px;
  height: 312px; */
}
.header-text {
  padding: 35px;
}
h1 {
  font-size: 50px;
}

.button {
  background-color: #dd0000;
  border-radius: 5px;
  width: 187px;
  height: 56px;
}

/* header style end */

.main-container {
  margin: 50px;
  /* border: 2px solid gray; */
  display: flex;
  border-radius: 10px;
}
/* .half-side {
  border: 2px solid red;
} */
.fix {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  background-color: black;
  width: 312px;
  height: 312px;
  border-radius: 10px;
}
.fix a {
  color: black;
  text-decoration: none;
  padding: 20px;
  border: 1px solid gray;
  margin: 10px;
  border-radius: 10px;
  background-color: white;
  text-align: center;
}
#core {
  flex-grow: 1;
}
.multi-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.card {
  padding: 10px;
  box-shadow: 0 0 1px 0 gray;
  border-radius: 10px;
  margin: 5px;
}

/* responsive style apply */
@media only screen and (max-width: 767px) {
  .header-container,
  .main-container,
  .multi-card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
