/*=================
 google fonts 
 ==================*/
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

/* ==================
multi container style 
======================*/
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Inter", sans-serif;
}

/*------------------
 header style start 
 -------------------*/

.header-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 50px;
  background-color: black;
  color: white;
  border-radius: 30px;
}
.header-text {
  padding: 35px;
}
h1 {
  font-size: 50px;
}

.button {
  background-color: #dd0000;
  border-radius: 5px;
  width: 187px;
  height: 56px;
}
/*-------------------------------------------
 button animation style use help for google 
 --------------------------------------------*/

.button {
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.button:hover:before {
  opacity: 1;
}

.button:after {
  z-index: -1;
  content: "";
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/*-------------------
 animation style end 
 --------------------*/

.card-title button {
  margin: 5px;
}

/* ---------------
header style end 
------------------*/

/*-----------------
 main style start
 ------------------ */
.main-container {
  margin: 50px;
  display: flex;
  border-radius: 10px;
}
p {
  padding: 15px;
}
.fix {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  background-color: black;
  height: 350px;
  border-radius: 10px;
}
.fix a {
  color: black;
  text-decoration: none;
  padding: 20px;
  border: 1px solid gray;
  margin: 10px;
  border-radius: 10px;
  background-color: white;
  text-align: center;
}
#core {
  flex-grow: 1;
}
.multi-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.card {
  padding: 10px;
  box-shadow: 0 0 1px 0 gray;
  border-radius: 10px;
  margin: 5px;
}
span {
  margin-left: 30px;
}
#button {
  margin-left: 500px;
  display: none;
}
/*----------------- 
main style end 
-------------------*/

/* ------------------
footer style start 
--------------------*/

.foter-container {
  background-color: black;
  height: 600px;
  color: white;
}
.fotter-header {
  text-align: center;
  padding: 30px;
  border-bottom: 1px solid gray;
  margin: 30px;
}
.footer-item {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  color: #b9b9b9;
  font-size: 16px;
  padding: 40px;
}
.foter-list {
  padding: 20px;
}
/* ----------------
fotter incon style 
-------------------- */
.icon-container {
  text-align: center;
  font-size: 50px;
}
.icon-container a {
  color: white;
  padding: 10px;
}

/* -----------------
footer style end 
--------------------*/

/* --------------------
responsive style apply 
------------------------*/
@media only screen and (max-width: 767px) {
  .header-container,
  .main-container,
  .multi-card,
  .footer-item {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .foter-text h3 {
    margin: 10px;
  }
  .icon-container {
    color: red;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .multi-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .main-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* margin-bottom: 50px; */
    padding-bottom: 50px;
  }
  #button {
    display: block;
    margin-left: 320px;
  }
}

/*-----------------------
 match html styel start 
 ------------------------ */

.math-img {
  text-align: center;
  display: flex;
  padding: 5px;
  margin: 25px;
  justify-content: center;
  align-items: center;
}
.math-time {
  text-align: center;
  padding: 10px;
}
span {
  margin-right: 15px;
}
/* ---------------------------- */
