/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

/* multi container style */

body {
  font-family: "Inter", sans-serif;
}

/* header style start */

.header-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 50px;
  background-color: black;
  color: white;
  border-radius: 30px;
}
.header-text {
  padding: 35px;
}
h1 {
  font-size: 50px;
}

.button {
  background-color: #dd0000;
  border-radius: 5px;
  width: 187px;
  height: 56px;
}

/* responsive style apply */
@media only screen and (max-width: 767px) {
  .header-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
